<%-include("partials/header");-%>
<div class="heading">
    <h1>Contact Page</h1>
</div>
<p class="contact_text">Email : <b><span style="font-family: 'Times New Roman', Times, serif;"><%= mail %></span></b><br><br>
Linkedin : <a href="<%= lidi %>">Click Me</a><br><br>
GitHub   : <a href="<%= ghub %>">Click Me</a>
</p>
<%- include('partials/footer'); -%>
    