<%- include('partials/header'); -%>
<div class="home_container">
    <div class="heading">
        <h1>Home Page</h1><br>
    </div>
    <%if(posts.length===0){%>
    <p class="home_text"><%=homeText%></p><br><br> 
    <%}%>
    <div class="add_blog">
        <a class="compose_card" href="/compose">
            <div class="compose_card_content">
                <p>+</p>
            </div>
        </a>
        <% posts.slice().reverse().forEach((x)=>{%>
            <a class="cards" href="/post/<%=x._id%>">
                <div class="cards_content">
                    <h1 class="card_title"><%=x.Title%></h1>
                    <p class="card_body"><%=x.blogPost.substring(0,150)+" ..."%></p>
                </div>   
            </a>     
        <%});%>
    </div>
</div>
<%- include('partials/footer'); -%>
